.edit-image{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;

    input{
        display: none;
    }
    span{
        cursor: pointer;
        padding: 12px 22px;
        border-radius: 5px;
        background-color: #ffd146;
        color: #000;
        &:hover{
            font-size: 18px;
        }
    }

}