.decoration {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    min-width: 80px;
    cursor: pointer;


    img {
        width: 1.1rem;
    }

    img:hover {
        filter: invert(33%) sepia(83%) saturate(712%) hue-rotate(208deg) brightness(97%) contrast(80%);
    }

    :first-child {
        width: 1.03rem;
    }

    :nth-child(2) {
        width: 1.05rem;
    }

    :last-child {
        width: 1.15rem;
    }



}

.select-font {
    border: none;
    border-radius: 3px;
    padding: 2px;
}


.element-control {
    display: flex;
    padding: 8px 8px 0px 8px;
    align-items: center;
    cursor: pointer;
    color: #fff;
    margin: 0;
    width: 100%;

    .element-control-container {
        display: flex;
        align-items: center;
        padding-bottom: 8px;
        color: #474849;

        img {
            color: #fff;
            // width: 1.5rem;
            padding: 5px;
            margin-bottom: 5px;

            :hover {
                filter: invert(33%) sepia(83%) saturate(712%) hue-rotate(208deg) brightness(97%) contrast(80%);
            }
        }

    }

    .element-control-container:hover {
        filter: invert(33%) sepia(83%) saturate(712%) hue-rotate(208deg) brightness(97%) contrast(80%);
    }

    @include for-mobile-layout {


        .element-control-container {
            flex-direction: row;
            padding-left: 10px;
            padding-right: 10px;

            img {
                width: 1.2rem;
            }
        }
    }

    @include for-narrow-layout {
        position: absolute;
        width: calc(100% - 28px);
        bottom: 0;
        flex: 1;
        justify-content: space-around;

        .element-control-container {
            flex-direction: column;

            img {
                width: 20px;
                padding: 0;
                filter: invert(27%) sepia(0%) saturate(2419%) hue-rotate(278deg) brightness(98%) contrast(91%);
            }

            .undo{
                padding-top: 7px;
            }
        }
    }

}