.edit-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;

    .underline {
        border-bottom: 1px solid #cacaca;
    }

    .preview-image {
        margin-top: 10px;
        width: 75%;
        max-height: 300px;
        
        img {
            width: 100%;
        }

    }

    input {
        display: none;
    }

    span {
        cursor: pointer;
        padding: 12px 22px;
        border-radius: 5px;
        background-color: $main-color;
        color: whitesmoke;

     
    }

}