a {
  position: relative;
  color: #000;
  text-decoration: none;
  padding: 10px;
}

.black-screen {
  cursor: pointer;
  position: fixed;
  opacity: 0.6;
  background-color: black;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 990;
  backdrop-filter: blur(4px);
}




a:hover {
  color: #000;
}

a .main-logo::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

// section>[contenteditable]:focus {
//   padding: 10px;
//   transition: padding 0.3s;
//   text-decoration: none;
//   font-weight: 300;
//   font-style: normal;
// }

hr{
  width: 100%;
}
html {
overflow: auto;
overflow-x: hidden;

  ::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #dad8d8;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 20px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  @include for-mobile-layout {
  //  overflow: hidden;
  }

  @include for-narrow-layout {
  }


}