.preview{
    .guide-title{
        font-family: Madefor;
        text-align: center;
        font-size: 3rem;
        padding: 20px;
        color: rgb(48, 45, 45);
    }
    .guide-video-container{
        text-align: center;
    }
}