.templates-container {
    font-family: Madefor;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    overflow: auto;
    overflow-x: hidden;
    

    .templates-list {
        display: grid;
        width: 80%;
        grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
        justify-content: center;
        margin-inline: auto;
        gap: 40px;
        justify-items: center;

       .template-preview {
            position: relative;
            box-sizing: border-box;

            .overlay {
                box-sizing: border-box;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                height: 380px;
                width: 100%;
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
                
                

                .overlay-screen {
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    background-color: rgb(255, 255, 255);
                    border-top-left-radius: 7px;
                    border-top-right-radius: 7px;
                    transition: opacity 0.3s;
                }

                .overlay-btns {
                    position: absolute;
                    box-sizing: border-box;
                    font-size: 0.8;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding-inline: 30px;

                    & > * {
                        box-sizing: border-box;
                        text-align: center;
                        background-color: aqua;
                        width: 100%;
                        padding: 10px 30px;
                        letter-spacing: 1px;
                    }

                    .select-btn {
                        background-color: $main-color;
                        color: white;

                        &:hover {
                            background-color: darken($color:  $main-color, $amount: 10%);
                            transition: 0.3s;
                        }
                    }
                    .preview-btn {
                        background-color: #efefef;
                        &:hover {
                            background-color: darken($color:  #efefef, $amount: 10%);
                            transition: 0.3s;
                        }
                    }
                }

                
            }
            
            &:hover .overlay {
                opacity: 1;
            }

            &:hover .overlay-screen {
                opacity: 0.4;
                transition: opacity 0.3s;
            }
            
       }

        .templates-preview-img {
            
            display: flex;
            flex-direction: column;
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
            width:  300px;
            animation: fadeInAnimation ease .7s;
            cursor: pointer;
            border-radius: 7px;


            img {
                width: 100%;
                height: 380px;
                // height: 500px;
                border-bottom: 1px solid rgb(192, 190, 190);
                border-top-left-radius: 7px;
                border-top-right-radius: 7px;
            }
            

            .category {
                color: grey;
                margin: 0;
                display: flex;
                flex-direction: column;
                font-size: 1.3rem;
                padding: 0.75rem 1rem;

                span {
                    color: black;
                    font-weight: bold;
                    margin-bottom: 1rem;
                }

                p {
                    margin: 0;
                    font-size: 0.7em;
                }
            }
        }

        // img:hover {
        //     opacity: 75%;
        // }

        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

 

}