.app-header {
    height: $header-height;
    font-family: Monsterrat;
    user-select: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    // border-bottom: 1px solid grey;
    padding-inline-start: 120px ;
    padding-inline-end: 110px;

    nav {
        display: flex;
        justify-content: space-between;


        a {
            padding: 10px;

            &.active {
                box-shadow: inset 0 -2px black;
               
            }
        }
    }

    button {
        background-color: black;
        color: white;
        padding: 10px 20px 10px 20px;
        text-align: center;
        cursor: pointer;
    }


}