.app-header {
    height: $header-height;
    font-family: Monsterrat;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-inline-start: 20px;
    padding-inline-end: 20px;

    .right-header-btns {
        display: flex;
        gap: 20px;
    }

    .right-header-btns>:nth-child(1) {
        border-radius: 20px;
        background-color: #61605c;
        border: none;
        color: rgb(255, 255, 255);
    }

    .right-header-btns>:nth-child(2) {
        border-radius: 20px;
        background-color: #61605c;
        border: none;
        color: rgb(255, 255, 255);
    }

    .right-header-btns>:nth-child(1):hover {
        background-color: black;
    }

    .right-header-btns>:nth-child(2):hover {
        background-color: black;
    }

    nav {
        margin-inline-start: 150px;
        display: flex;
        justify-content: space-between;


        a {
            padding: 10px;

            &.active {
                box-shadow: inset 0 -2px black;

            }
        }
    }

    button {
        background-color: black;
        color: white;
        padding: 10px 20px 10px 20px;
        text-align: center;
        cursor: pointer;
    }


}