.app-header {
    height: $header-height;
    font-family: Madefor;
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    

    .right-header-btns {
        display: flex;
        gap: 20px;
    }

    .main-logo {
        position: relative;
        font-family:Madefor;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 2.5rem;
        padding-bottom: 5px;

        font-weight: 600;
        color: rgb(36, 36, 36);


        .underline {
            position: absolute;
            bottom: 5px;
            left: 0;
            height: 2px;
            width: 0;
            background-color: #272727;
            transition: width 0.8s cubic-bezier(.7,-0.13,.36,1.22);
        }

        &:hover .underline{
            width: 98%;
            transition: width 0.8s cubic-bezier(.7,-0.13,.36,1.22);
        }

        .dot {
            display: inline-block;
            animation-play-state:paused;
        }

        &:hover .dot {
            animation-play-state:running;
            animation-name: bounce;
            animation-duration: 0.6s;
            animation-delay: 0.5s;
            animation-fill-mode: forwards
        }

        @keyframes bounce { 
            0% {
                transform: translateY(0%);
            } 
            50% {
                transform: translateY(-30%);
            }
            100% {
                transform: translateY(0%);
                color: #0047AB;
            }
         }

    }

    .save-btn {
        border-radius: 20px;
        background-color: #61605c;
        border: none;
        color: rgb(255, 255, 255);
    }

    .together-btn {
        border-radius: 20px;
        background-color: #61605c;
        border: none;
        color: rgb(255, 255, 255);
    }

    .save-btn:hover  {
        background-color: black;
    }

    .together-btn:hover{
        background-color: black;
    }

    nav {
        margin: auto;
        display: flex;
        justify-content: space-between;


        a {
            padding: 10px;

            &:hover {
                color: 	#032d66;
            }

            &.active {
                box-shadow: inset 0 -2px black;
            }
        }

    }

    .modal-section{
            position: fixed;
           
            z-index: 100000000000;
           

        .site-name-modal{
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            background-color: #0a3a7e;
            padding: 80px 90px;
            font-family: Madefor;
            h1{
                color: whitesmoke;
            }
            form{
                display: flex;
                gap: 10px;

                button{
                    background-color: #272727;
                    border: none;
                }
                button:hover{
                    background-color: #61605c;
                }
                input{
                    width: 100%;
                }
            }
            position: fixed;
            z-index: 100000;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

    }
    

    .login-btn{
        display: flex;
        align-items: center;
        gap: 10px;
        .logout-icon{
            filter: invert(1);
            width: 20px;
        }
    }

    button {
        background-color: black;
        color: white;
        padding: 10px 20px 10px 20px;
        text-align: center;
        cursor: pointer;
    }


}

