.editor-nav{
    background-color: #eeeeee;
    display: flex;
    font-family: Monsterrat;
 
    
    h1,button{
        color: #595959;
        font-size: .8rem;
        text-align: center;
        margin-bottom: 10px;
        padding: 10px;
        cursor: pointer;
        font-weight: 300;

        &.active {
            background-color: #dddddd;
            color: #595959;
        }

        &:hover{
            color: whitesmoke;
            background-color: #cccccc;
        }

     
    }



    .side-bar{
        display: flex;
        flex-direction: column;
        user-select: none;
    
        justify-content: space-between;
        min-width: 75px;
        div{
            display: flex;
            flex-direction: column;
        }


        button{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            border:none;
            background: none;
            color: #595959;
            font-weight: 500;
            padding: 20px  0;

            &.active {
                background-color: #dddddd;
                color: #595959;
            }
    
            &:hover{
                color: black;
                background-color: #383838;
                filter: invert(1)
                
            }
            img{
                width: 1.5rem;
                cursor: pointer;
            }
            
        }
    
    }

    .side-bar-actions {
        z-index: 1;
        overflow-y: scroll;
        height: 92.5vh;
        background-color: #dddddd;
        color: #595959;
        width: 0;
        transition: 0.3s;
        padding: 0;
        margin: 0;
    
        .edit-container{
    
            button{
                background: none;
                border: none;
            }
            .trash-icon{
                width: 15%;
                cursor: pointer;
            }
        }

        .wap-header-2-mini{
            transform: scaleY(2);
        }

        .mini-cmp{
            width: 100%;
            border-radius: 13px;
            transition: all 0.3s;
            margin-top: 15px;
            user-select: none;
            
            &:hover{
                transform: scale(103%);
                transition: all 0.3s;
                
            }
        }
    
        &.open {
            width: 280px;
        }
    
    }

    @include for-mobile-layout{
    }

    @include for-narrow-layout{
    }
}