.editor-nav{
    background-color: rgb(37, 36, 36);
    display: flex;
    
    h1{
        color: grey;
        font-size: 1rem;
        text-align: center;
        margin-bottom: 10px;
        padding: 10px;
        cursor: pointer;
        font-weight: 300;

        &.active {
            background-color: rgb(56, 55, 55);
            color: whitesmoke;
        }

        &:hover{
            color: whitesmoke;
        }
    }
}