.side-bar-actions {
    min-height: calc(100vh - $header-height);
    background-color: rgb(56, 55, 55);
    width: 0;
    transition: 0.3s;

    .edit-container{

        button{
            background: none;
            border: none;
        }
        .trash-icon{
            width: 15%;
            filter: invert(1);
            cursor: pointer;
        }
    }
    .mini-cmp{
        width: 100%;
        border-radius: 13px;
        transition: all 0.3s;
        margin-top: 15px;
        user-select: none;
        
        &:hover{
            transform: scale(103%);
            transition: all 0.3s;
            
        }
    }

    &.open {
        padding: 0 15px 0;
        width: 280px;
    }

}