
.swiper {
    user-select: none;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 400px;

    .hair-gallery-photo{
        height: 450px;
    }
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  }
  