.text {


    h1 {
        font-weight: 300;
        font-style: normal;
        padding: 20px;

        &[contenteditable]:focus {
            outline: none;
        }


        &:hover {
            @include focus;
        }
    }


}