.video{
    .video-container{
    position: relative;
    // padding: 56.25%;
    // width: fit-content;
    // height: fit-content;
    z-index: 0;
    .video-player{
            position: absolute;
            top: 0;
            left: 0;
            width: 84.3%;
            // height: 47.5%;
            
    }
    }
}