.wap{
    overflow:scroll;
    overflow-x: hidden;
}

.cmp-hovered {
  outline: .8px dashed rgb(93, 89, 89);
}

.focus {
  outline: 2px dashed rgb(93, 89, 89);
}

.cooking {
  background: linear-gradient(to bottom right, 
  #aae6f0    55%, 
  #fad255 0 100%
);
}

