.wap-card-1 {
    font-family: Monsterrat;
    padding-top: 30px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(53, 51, 51);


    .card-1-container {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;
        .info-container {
            

            .title {
                cursor: text;

            }
        }
    }

    .card-2-container {
        .info-container {
            .title {
                cursor: text;
            }

            
        }

        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .info-container {
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 50px;





    }

    button {
        color: #fff;
        background: none;
        padding: 1.2rem 2.004rem;
        border-radius: 0.4rem;
        border: none;
        cursor: pointer;
        background-color: #4b4a48;
        height: 100%;

        &:hover {
            opacity: 0.6;
        }
    }



    .paragraph {
        cursor: text;
        font-weight: 300;
    }

    img {
        width: 100%;
    }


    @include for-mobile-layout {
        .card-1-container {
            flex-direction: column;
            gap: 20px;
            .image {
                max-width: 100%;
            }
        }

        .card-2-container {
        padding-top: 100px;

            gap: 20px;
            margin-bottom: 100px;
            padding-inline-end: 0;
            .image {
                max-width: 100%;
            }

            flex-direction: column-reverse;

            .title {
                font-size: 1.9rem;
            }
        }

        .paragraph {
            font-size: 1.1rem;
        }
    }
    @include for-narrow-layout{
        .card-1-container{
            flex-direction: column;
            width: 93%;
            margin: auto;
            
        }
        .card-2-container{
            flex-direction: column-reverse;
            width: 93%;
            margin: auto;

        }
    }

    @include for-mid-layout{
        .card-1-container{
            flex-direction: unset;

            > *{
                width: 50%;
            }
            .image{
                width: 50%;
            }
            .title{
                font-size: 1.3rem;
            }
        }
        .card-2-container{
            padding-top: 0;
            > *{
                width: 50%;
            }
            .title{
                font-size: 1.3rem;
            }
            flex-direction: unset;
            .image{
                width: 50%;
            }

        }
        .paragraph{
            font-size: 1rem;
        }
    }

    @include for-normal-layout{
        .card-1-container{
            .title{
                font-size: 1.8rem;
            }
        }
        .card-2-container{  
            .title{
                font-size: 1.8rem;
            }}

            .paragraph{
                font-size: 1rem;
            }
    }

    @include for-wide-layout{
        .card-1-container{
            .title{
                font-size: 2.1rem;
            }
        }
        .card-2-container{  
            .title{
                font-size: 2.1rem;
            }}

            .paragraph{
                font-size: 1.1rem;
            }

    }
    
}

.wap-card-2 {
    font-family: Monsterrat;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 60px;
    gap: 50px;

    .title {
        box-shadow: 0 5px #fadf55;
    }

    .wap-card-2-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
        // font-family: Monsterrat;
        margin-top: 50px;
        min-height: fit-content;
        

        & >*:nth-child(2) {
            order: -1;
            width: 80%;
            margin: auto;
        }

        & > * {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    
        img {
            width: 100%;
        }
    
        .testimonial {
            font-size: 1.1rem;
            margin-bottom: 1rem;
            padding-inline:20px;
            &::before {
                content: '"';
            }
            &::after {
                content: '"';
            }
        }
    
        .testimonial-name {
            font-weight: bold;
            font-size: 1rem;

            &::before {
                content: '- ';
            }
        }
    }

    @include for-narrow-layout {
        .wap-card-2-grid {
            display: grid;
            grid-template-columns: repeat(3, minmax(30px, 350px));
            align-items: center;
            max-width: 90%;
            margin: 0 auto;
            gap: 70px;

            & >*:nth-child(2) {
                order: 0;
            }

            .testimonial {
                font-size: 1.2rem;
                padding-inline: 0;
            }
        }
    }

    @include for-mid-layout {
        .wap-card-2-grid {
            display: grid;
            grid-template-columns: repeat(3, minmax(30px, 350px));
            align-items: center;
            max-width: 70%;
            margin: 0 auto;
            gap: 70px;

            & >*:nth-child(2) {
                order: 0;
            }

            .testimonial {
                font-size: 1.2rem;
                padding-inline: 0;
            }
        }
    }

    @include for-normal-layout {
        
        
    }

    @include for-wide-layout {}
}

.wap-card-3 {
    font-family: Monsterrat;
    padding-block: 100px;
    .card-container {
        position: relative;
        margin: auto;
        .card-title {
            position: absolute;
            font-size: 5rem;
            top: 5%;
            left: 50%;
            transform: translateX(-50%);
            font-family: Monsterrat;
            color: #f5ae71;
            font-weight: bold;
            text-transform: uppercase;
        }
        
        .card-flex-cont {
            display: flex;
            flex-direction: column;
            & > * {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .card-flex-item2 {
                display: flex;
                flex-direction: column;
                gap: 50px;
                font-size: 0.6rem;
                padding: 20px;
                padding-right: 50px;
            }
        }
    }

    @include for-mobile-layout{

    }
   
    @include for-narrow-layout{
        
    }
    @include for-mid-layout{
        .card-container {
            min-width: 1200px;
            width: 65%;
            .card-flex-cont {
                display: flex;
                flex-direction: row;
                & > * {
                    flex-direction: row;
                    flex-basis: 50%;
                    min-width: 500px;
                }
            }
        }
    }
}

.wap-card-3-1 {
    background: url('../../../img/card3-1/43c038_daee9005e3a741ccbc28e0dbe9bd1cde_mv2.png');
    color: #fff;
    font-family: Monsterrat-thin;
    font-size: 10px;
    padding-block: 9em;
    padding-inline: 2em;
    

    .title {
        font-family: Monsterrat;
        margin: auto;
        font-size: 6em;
        text-transform: uppercase;
        width: fit-content;
        margin-bottom: 7rem;
    }


    .services-container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-size: 0.8em;

        & > *:not(:last-child) {
            border-bottom: 1px solid white;
        }

        .service-container {
            display: flex;
            justify-content: space-between;
            padding-bottom: 2rem;
        }
    }

    @include for-mobile-layout{

    }
   
    @include for-narrow-layout{
        font-size: 20px;
        & > section {
            width: 700px;
            margin: 0 auto;
        }
    }
    @include for-mid-layout{
        font-size: 20px;
        & > section {
            width: 1200px;
            margin: 0 auto;
        }
    }
    
}
.wap-card-1-1 {
    text-align: center;
    width: 80%;
    margin: auto;
    font-family: Monsterrat;
    padding: 50px 0;
    color: rgb(53, 51, 51);


    h1{
        padding: 20px;
        cursor: text;
    }
    .title {
        font-weight: 700;
        
    }
    .paragraph {

        font-weight: 300;
        
    }

    @include for-mobile-layout{
        .title{
            font-size: 1.8rem;
        }
        .paragraph{
            font-size: 1.1rem;
        }
    }
    @include for-mid-layout{
        .title{
            font-size: 2.8rem;
            
        }
        .paragraph{
            font-size: 1.4rem;
        }
    }

   

}

.wap-card-4 {
    background-color: #000;
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    padding-block: 50px;

    

    .card-title {
        color: #1f1f1f;
        font-family: Poppins-bold;
        font-size: 4em;
        width: fit-content;
        margin: 0 auto;
        
        h1 {
            margin: 0;
            height: fit-content;
        }
    }
    
    .cont1 {
        gap: 100px;
        padding-inline: 10px ;
        .text-container1 {
            flex-direction: column;
            
            .title {
                font-family: SignPainter;
                color: #d8ac84;
                font-size: 2em;
                // position: relative;
            }
            .paragraph {
                font-family: Poppins-bold;
                font-size: 1em;
                line-height: 1.5em;
            }
        }

        .text-container2 {
            
            .text-bold {
                font-family: Poppins-bold;
                margin-bottom: 40px;
                font-size: 1em;
            }

            .text-reg {
                font-size: 1em;
            }
        }
    }

    .cont2 { 
        gap: 100px;
        margin-bottom: 50px;
        .text-container2 {
            margin-top: auto;
            margin-bottom: auto; 
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 40px;
        }

        .quote {
            line-height: 2em;
            font-size: 1em;
            &::before, &::after {
                content: '"';
            }
        }

        .name {
            font-family: Poppins-bold;
            font-size: 1em;
        }

        .role {
            color: #5c5c5c;
            font-size: 1em;
        }
        .image {
            width: 100%;
        }
    }

    .cont3 {
        font-size: 20px;
        img {
            
            width: 100%;
        }
        .item {
            text-align: center;
            padding-inline: 30px;
            

            & > * {
                margin-bottom: 10px;
            }

            .image-container {
                position: relative;
                img {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                }
                .backdrop {
                    position: absolute;
                    width: 65px;
                    height: 65px;
                    top: 30%;
                    left: 45%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    background-color: #222;
                    z-index: 1;
                    transition: all 0.5s;
                }

                .image, img {
                    position: relative;
                    z-index: 30;
                }
            }

            .text-container {
                display: flex;
                flex-direction: column;
                .title {
                    font-family: Poppins-bold;
                    font-size: 1em;
                    margin-bottom: 20px;
                }

                .paragraph {
                    font-size: 0.8em;
                    line-height: 1.5em;
                }
            }

            &:hover .backdrop {
                top: 48%;
                left: 48%;
                transition: 0.5s;
            }
        }
    }
    

    @include for-mobile-layout{
        
    }
    @include for-mid-layout{

        .card-title {
            font-size: 8em;
            margin-inline: 50px;
        }
        & > * {
            .cont1, .cont2, .cont3 {
                display: flex;
                max-width: 1200px;
                margin: 0 auto;
                margin-bottom: 80px;
            } 
        }
        .cont1 {
            & > * {
                display: flex;
                flex-direction: column;
                // font-size:0.5em;
                width: 50%;
            }

            .text-container1 {
                flex-direction: column;
                
                .title {
                    font-family: SignPainter;
                    color: #d8ac84;
                    position: relative;
                }
                .paragraph {
                    font-family: Poppins-bold;
                    line-height: 1.5em;
                }
            }
            .text-container2 {
            
                .text-bold {
                    font-family: Poppins-bold;
                    margin-bottom: 40px;
                }
    
                .text-reg {
                    font-size: 1em;
                }
            }
        }

        .cont2 {
            & > * {
                display: flex;
                flex-direction: column;
                font-size: 1em;
                width: 50%;
            }
            gap: 100px;
        .text-container2 {
            margin-top: auto;
            margin-bottom: auto; 
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 0.5em;
            gap: 40px;
        }

        .quote {
            line-height: 2em;
            font-size: 3em;
            &::before, &::after {
                content: '"';
            }
        }

        .name {
            font-family: Poppins-bold;
            font-size: 2em;
        }

        .role {
            color: #5c5c5c;
            font-size: 2em;
        }
        }
    }
}

.wap-card-5 {
    background: url('../../../img/card-5/card-5-bg.png') no-repeat;
    background-position: center;
    background-size:100% 100%;
    padding-block: 50px;
    padding-block-end: 50px;
    color: #4a2359;
    font-family: Poppins;


    
    .card-container {
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 100px;

        img.ghost-gif {
            display: block;
            width: 50%;
            margin: 0 auto;
        }

        .card-text {
            padding-inline: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 100%;
            .title {
                font-family: Reklame;
                font-size: 4em;
                margin-bottom: 30px;
            }

            .feature {
                font-size: 23px;
                margin-bottom: 20px;
                &::before {
                    content: '•';
                    padding-inline-end: 10px;
                }
            }
        }
    }


    @include for-mobile-layout{
    }
    @include for-narrow-layout{
        
        .card-container {
            flex-direction: row;
            width: 90%;

            img.ghost-gif {width: 100%;}
        }
    }
    @include for-mid-layout{
        .card-container {
            width: 70%;
        }
    }
    @include for-normal-layout {
        padding-block: 100px;
        padding-block-end: 350px;
        .card-container {
            width: 55%;
        }
    }
}