.wap-card-1 {
    font-family: Monsterrat;
    // padding: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(53, 51, 51);


    .card-1-container {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        width: 100%;

        .info-container {
            

            .title {
                cursor: text;

            }
        }
    }

    .card-2-container {
        .info-container {
            .title {
                cursor: text;
            }

            
        }

        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding-top: 100px;
    }

    .info-container {
        display: flex;
        text-align: center;
        flex-direction: column;
        gap: 50px;





    }

    button {
        color: #fff;
        background: none;
        padding: 1.2rem 2.004rem;
        border-radius: 0.4rem;
        border: none;
        cursor: pointer;
        background-color: #4b4a48;
        height: 100%;

        &:hover {
            opacity: 0.6;
        }
    }



    .paragraph {
        cursor: text;
        font-weight: 300;
    }

    img {
        width: 100%;
    }


    @include for-mobile-layout {
        .card-1-container {
            flex-direction: column;
            gap: 20px;
            .image {
                max-width: 100%;
            }
        }

        .card-2-container {
            gap: 20px;
            margin-bottom: 100px;
            padding-inline-end: 0;
            .image {
                max-width: 100%;
            }

            flex-direction: column-reverse;

            .title {
                font-size: 1.9rem;
            }
        }

        .paragraph {
            font-size: 1.1rem;
        }
    }
}

.wap-card-2 {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 60px;
    gap: 50px;



    .title {
        box-shadow: 0 5px #fadf55;
    }

    .wap-card-2-grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-family: Monsterrat;
        margin-top: 50px;
        min-height: fit-content;
        

        & >*:nth-child(2) {
            order: -1;
            width: 80%;
            margin: auto;
        }

        & > * {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    
        img {
            width: 100%;
        }
    
        .testimonial {
            font-family: Monsterrat-thin;
            font-size: 0.8rem;
            margin-bottom: 1rem;
            padding-inline:20px;
            &::before {
                content: '"';
            }
            &::after {
                content: '"';
            }
        }
    
        .testimonial-name {
            font-size: 0.9rem;

            &::before {
                content: '- ';
            }
        }
    }

    @include for-narrow-layout {
        .wap-card-2-grid {
            display: grid;
            grid-template-columns: repeat(3, minmax(30px, 350px));
            align-items: center;
            max-width: 90%;
            margin: 0 auto;
            gap: 70px;

            & >*:nth-child(2) {
                order: 0;
            }

            .testimonial {
                font-size: 1.2rem;
                padding-inline: 0;
            }
        }
    }

    @include for-mid-layout {
        .wap-card-2-grid {
            display: grid;
            grid-template-columns: repeat(3, minmax(30px, 350px));
            align-items: center;
            max-width: 70%;
            margin: 0 auto;
            gap: 70px;

            & >*:nth-child(2) {
                order: 0;
            }

            .testimonial {
                font-size: 1.2rem;
                padding-inline: 0;
            }
        }
    }

    @include for-normal-layout {
        
        
    }

    @include for-wide-layout {}
}

