.wap-footer-1 {
    background-color: #0c0e0f;
    color: rgb(219, 216, 216);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo{
        cursor: text;
        margin-inline-start: 70px;
        font-family: Monsterrat;
        
    }

    .rights {
        cursor: text;
        margin-inline-end: 70px;
        font-size: .9em;
        font-weight: 300;
       
        font-family: Monsterrat;
    }
}