.wap-form-1 {
    font-family: Monsterrat;
    background-color: #F7F7F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: rgb(53, 51, 51);

    .title {
        font-size: 2.5em;
        margin-bottom: 1em;
        cursor: text;
    }

    .paragraph {
        font-size: 1em;
        cursor: text;
        font-weight: lighter;
        margin: 0;
        margin-bottom: 3em;
    }

    .wap-form {
        display: flex;
    }

    input {
        padding: 18px 28px;
        border: 1px solid darken($color: #F7F7F7, $amount: 20);
        border-radius: 3px;

        &::placeholder {
            color: darken($color: #F7F7F7, $amount: 20);
        }
    }

    & button {
        color: #fff;
        background: none;
        padding: 1.2rem 2.004rem;
        border-radius: 0.4rem;
        border: none;
        cursor: pointer;
        background-color: #4b4a48;
        height: 100%;


        &:hover {
            opacity: 0.6;
        }
    }

    @include for-mobile-layout{
        .input{
            margin-inline-start: 20px;
        }
        .wap-form{
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        padding: 30px;
         button{
            width: 150px;
        }
    }
    @include for-narrow-layout{
        .wap-form{
            flex-direction: unset;
            align-items: center;
            gap: 20px;
        }
            padding: 100px;
         button{
            font-size: 1rem;
            width: unset;

        }
    }


}

.wap-form-2 {
    background: url('../../../img/form-2/form2-bg.png');
    background-position: fixed;
    background-size: cover;
    font-family: Monsterrat;

    .form-container {
        width: 90%;
        margin: 0 auto;
        padding: 20px;
        padding-block: 50px;

        .title {
            font-size: 1.2rem;
            margin: auto;
            width: fit-content;
            box-shadow: 0 5px #FADF55;
            margin-bottom: 3rem;
        }

        .paragraph {
            
            line-height: 1.5rem;
            font-size: 1.1rem;
            margin: auto;
        }

        & > * {
            margin-block: 20px;
        }
        
        input, textarea {
            // font-family: Monsterrat;
            font-size: 0.8rem;
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            height: 40px;
            border: none;
            width: 100%;
            background-color: #fbe3f5;
            margin-block-end: 20px;
            padding-inline: 20px;

            &:hover {
                background-color: #f2f2f2;
            }

            &:focus {
                outline: none;
                background-color: #fff;
            }
        }

        textarea{
            height: 90px;
            padding-block-start: 10px;
        }

        button {
            width: 100%;
            background: none;
            background-color: #FADF55;
            border: none;
            padding-block: 10px;
            cursor: pointer;

            &:hover {
                background-color: #D5ADC9;
                transition: 0.4s;
            }
            
            a {
                padding: auto;
                color: #000000;
                font-weight: bold;
            }
        }
    }


    .form-input-container {
        display: flex;
        gap: 14px;

        & > * {
            width: 50%;
        }
    }

    @include for-mobile-layout{}

    @include for-narrow-layout {}

    @include for-mid-layout {
        .form-container {
            width: 70%;
        }
    }

    @include for-normal-layout {
        .form-container {
            width: 50%;
        }
    }

    @include for-wide-layout {
        .form-container {
            width: 35%;
        }
    }
}

.wap-form-3 {
    font-size: 12px;
    background-image: url('../../../img/form-3/43c038_e2dc6c2daf934f67bd09ef46234bd05e_mv2.png');
    font-family: Monsterrat-thin;
    padding-block: 5em;

    .title {
        font-size: 6em;
        text-transform: uppercase;
        font-family: Monsterrat;
        color: #fff;
        width: fit-content;
        margin: 0 auto;
        margin-block-end: 0.5em;
    }

    form {
        max-width: 95%;
        margin: 0 auto;
        input, button {
            font-family: Monsterrat;
            box-sizing: border-box;
            width: 100%;
            background: none;
            border: none;
            padding: 0;
            margin: 0;
            background-color: #fff;
            padding: 5px 15px;
            height: 45px;
            margin-block-end: 15px;


            &:focus {
                background: #fff3e8;
                outline: none;
            }

            &:hover {
                background-color: #ffd7b5;
        }
        }

        form > input {
            margin: auto;
            background-color: #fff;
            padding: 5px 15px;
            height: 45px;
        }

        button {
            width: 100%;
            background-color: #363636;
            color: #fff;
            height: 45px;

            &:hover {
                background-color: #c4c4c4;
                color: #000000;
                transition: 0.5s;
            }
        }

        .message {
            height: 145px;
        }
    }

    @include for-mobile-layout{
        .header-nav {
            display: none;
        }
    }
   
    @include for-narrow-layout{
        
    }
    @include for-mid-layout{
        font-size: 16px;
        form {
            max-width: 700px;
            margin: 0 auto;
        }
    }
}

.wap-form-4 {
    background-color: #222;
    padding-block-end: 50px;
    font-family: Poppins;
    .text-container {
        margin-bottom: 30px;
        .title {
            font-family: Poppins-bold;
            color: #5c5c5c;
            font-size: 50px;
            width: fit-content;
            margin: 0 auto;
        }
        .subtitle {
            width: fit-content;
            font-family: SignPainter;
            font-size: 2.5rem;
            margin: 0 auto;
            color: #d8ac84;
        }
    }

    form {
        max-width: 800px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding-inline: 20px ;
        gap: 20px;

        input, textarea {
            background: none;
            border: 1px solid #5c5c5c;

            &:focus {
                outline: none;
                border: 1px solid #d8ac84;
            }
        }

        input, textarea {
            padding: 20px 30px;
            margin: 0;
        }
        textarea {
            height: 4em;
        }

        button {
            font-family: Poppins-bold;
            padding: 15px 30px;
            background-color: #d8ac84;
            border: 2px solid #d8ac84;
            color: white;
            transition: background-color 0.5s;

            &:hover {
                background: none;
                transition: 0.5s;
            }
        }
    }

    @include for-mobile-layout{
        
    }
   
    @include for-narrow-layout{
        
    }
    @include for-mid-layout{

        form {
            padding-inline: 0;
        }
        .text-container {
            margin-bottom: 30px;
            .title {
                font-family: Poppins-bold;
                color: #5c5c5c;
                font-size: 150px;
            }
            .subtitle {
                width: fit-content;
                font-family: SignPainter;
                font-size: 2.5rem;
                margin: 0 auto;
                color: #d8ac84;
            }
        }
    }
}

.wap-form-5 {
    background-color: #f9907a;
    position: relative;
    min-height: 550px;
    padding-block: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    color: #4a2359;
    


    

    .bg-image {
        display: none;
        position:absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        z-index: 0;
    }

    .form-container {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;

        & > * {
            margin-bottom: 30px;
        }

        .form-title {
            font-family: Reklame;
            font-size: 72px;
        }

        .form-subtitle {
            font-size: 25px;
        }

        form {
            display: flex;
            input {
                width: 100%;
                background: none;
                border: none;
                border-bottom: 2px solid  #4a2359;

                &:focus {
                    outline: none;
                }
            }

            button {
                background: none;
                border: 2px solid  #4a2359;
                color: #4a2359;

                &:hover {
                    background-color:  #4a2359;
                    color: #ffae7e;
                    transition: 0.6s;
                }
            }
        }
       
    }

    @include for-mobile-layout{
    }
    @include for-narrow-layout{
        padding-block: 150px;
        & section:last-child {
            width: 60%;
        }
        color: #ffae7e;
        .bg-image {
            display: block;
        }

        .form-container {
            .form-subtitle {
                font-size: 40px;
            }

            form {
                input {
                    border-bottom: 2px solid #ffae7e;
                }
                button {
                    border: 2px solid #ffae7e;
                    color: #ffae7e;
    
                    &:hover {
                        background-color: #ffae7e;
                        color: #4a2359;
                    }
                }
            }
        }
    }
    @include for-mid-layout{
    }
    @include for-normal-layout {
    }
}