.wap-gallery-1{
    background-color: aquamarine;
    img{
        width:300px;
    }
}

.wap-gallery-2 {
    font-family: Monsterrat;
    background-color: #fad255;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 50px;

    .title {
        box-shadow:0 5px white;
        width: fit-content;
        margin: 0 auto;
        margin-block-end: 80px;
    }

    .wap-gallery-sweetpies {
        display: grid;
        grid-template-columns: repeat(2, minmax(50px, 1fr));
        gap: 5px;

        img {
            display: block;

        }
    }
    .wap-gallery-sweetpies > * {
        width: 100%;
    }
    

    section {
        width: 100%;
        // height: fit-content;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    

    @include for-mobile-layout{
        
    }
   
    @include for-narrow-layout{
        padding-inline: 40px;
        
    }
    @include for-mid-layout{
        padding-inline: 200px;
        .wap-gallery-sweetpies {
            grid-template-columns: repeat(4, minmax(50px, 1fr));
        }
    }
}

.wap-gallery-3 {
    font-size: 20px;
    .title{
        color: #f5ae71;
        font-family: Monsterrat;
        text-transform: uppercase;
        width: fit-content;
        font-size: 3em;
        margin: 0 auto;
        margin-block: 1em;
    }


    .gallery-grid {
        display: grid;
        width: 100%;
        margin: 0 auto;
        margin-block-end: 4em;
        grid-template-columns: repeat(1, 1fr);
        // grid-auto-rows: 312px;
        gap: 10px;

        & img{
            width: 100%;
        }
    }

    @include for-mobile-layout{

    }
   
    @include for-narrow-layout{
        .gallery-grid {
            grid-template-columns: repeat(2, 312px);
            width: fit-content;
        }
    }
    @include for-mid-layout{
        & > section:last-child {
            width: 1200px;
            margin: 0 auto;
        }
        .gallery-grid {
            grid-template-columns: repeat(3, 312px);
        }

        .title {
            font-size: 6em;
        }
    }
}

.wap-gallery-4 {
    background-color: #000;
    color: #fff;
    font-family: Poppins-bold;
    padding-block-end: 150px;

    img {
        width: 100%;
    }
    
    .gallery-text-cont {
        padding-inline: 20px;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        padding-block: 100px;

        .text-cont {
            .title {
                font-family: SignPainter;
                color: #d8ac84;
            }

            .paragraph {
                font-size: 2em;
            }
        }

        .undefined {
            margin-top: auto;
        }

        button {
            background: none;
            background-color: #d8ac84;
            color: #fff;
            border: 2px solid #d8ac84;
            padding: 15px 35px;
            transition: background-color 0.3s;
            align-self: flex-end;

            &:hover {
                background-color: #000;
                transition: background-color 0.3s;
                cursor: pointer;
            }
        }
        
    }

    .section-title {
        width: fit-content;
        margin-left: auto;
        color: #1f1f1f;
        font-size: 75px;
    }

    .gallery {
        img {
            width: 100%;
        }
    }

    

    @include for-mobile-layout{

    }
   
    @include for-narrow-layout{
        
    }
    @include for-mid-layout{
        .section-title {
            font-size: 150px;
        }
        .gallery-text-cont {
            flex-direction: row;
        }
        .gallery {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-auto-rows: repeat(2,1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            .image3 {
                grid-column: 2/4;
                grid-row: 1/3;
            }
            
        }
    }
}

.wap-gallery-5 {
    background-color: #fda878;
    padding-block: 150px;

    img {width: 100%;}

    .gallery-title {
        font-family: Reklame;
        color: #4a2359;
        width: fit-content;
        margin: 0 auto;
        font-size: 90px;
        margin-bottom: 50px;
    }

    .gallery-container {
        // width: 1000px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: center;
        gap: 40px;
    }

    @include for-mobile-layout{
    }
    @include for-narrow-layout{
    }
    @include for-mid-layout{
    }
    @include for-normal-layout {
        .gallery-container {
            width: 100%;
        }
    }
}