.wap-gallery-1{
    background-color: aquamarine;
    img{
        width:300px;
    }
}

.wap-gallery-2 {
    font-family: Monsterrat;
    background-color: #fad255;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 50px;

    .title {
        box-shadow:0 5px white;
        width: fit-content;
        margin: 0 auto;
        margin-block-end: 80px;
    }

    .wap-gallery-sweetpies {
        display: grid;
        grid-template-columns: repeat(2, minmax(50px, 1fr));
        gap: 5px;

        img {
            display: block;

        }
    }
    .wap-gallery-sweetpies > * {
        width: 100%;
    }
    

    section {
        width: 100%;
        height: fit-content;
        img {
            width: 100%;
        }
    }

    

    @include for-mobile-layout{
        
    }
   
    @include for-narrow-layout{
        padding-inline: 40px;
        
    }
    @include for-mid-layout{
        padding-inline: 200px;
        .wap-gallery-sweetpies {
            grid-template-columns: repeat(4, minmax(50px, 1fr));
        }
    }
}

.wap-gallery-3 {
    font-size: 20px;
    


    .title{
        color: #f5ae71;
        font-family: Monsterrat;
        text-transform: uppercase;
        width: fit-content;
        font-size: 3em;
        margin: 0 auto;
        margin-block: 1em;
    }


    .gallery-grid {
        display: grid;
        width: 100%;
        margin: 0 auto;
        margin-block-end: 4em;
        grid-template-columns: repeat(1, 1fr);
        // grid-auto-rows: 312px;
        gap: 10px;

        & img{
            width: 100%;
        }
    }

    @include for-mobile-layout{

    }
   
    @include for-narrow-layout{
        .gallery-grid {
            grid-template-columns: repeat(2, 312px);
            width: fit-content;
        }
    }
    @include for-mid-layout{
        & > section:last-child {
            width: 1200px;
            margin: 0 auto;
        }
        .gallery-grid {
            grid-template-columns: repeat(3, 312px);
        }

        .title {
            font-size: 6em;
        }
    }
}