.wap-header-1 {
    font-family: Monsterrat;
    padding: 20px 40px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #0c0e0f;
    border-bottom: rgba(53, 48, 48, 0.055) 1px solid;
    color: rgb(219, 216, 216);

    .wap-container {
        display: flex;
        align-items: center;
        gap: 20px;

        & button {
            color: #fff;
            background: none;
            padding: 1.2rem 2.004rem;
            border-radius: 0.4rem;
            border: none;
            cursor: pointer;
            background-color: #61605c;

            &:hover {
                background-color: #3a3936;
                color: rgb(219, 216, 216);
            }
        }

    }

    .wap-text {
        color: rgb(17, 16, 16)
    }

    .logo{

        font-family: Monsterrat;
        cursor: text;
    }

    .nav-item{
        padding: 10px;
        color: rgb(219, 216, 216);
        cursor: text;
    }

    .nav-item:hover{
        color: rgb(197, 190, 190)
    } 
    @include for-mobile-layout{
        .nav-item{
            display: none;
        }
        .image{
            display: inline;
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                width: 25px;
                
            }
        }

        .logo{
            font-size: 1.4rem;
           }
    }
   
    @include for-narrow-layout{
     
     
    }
    @include for-mid-layout{
        .logo{
            font-size: 1.7rem;
        }
        
        .nav-item{
            display: inline;
            font-size: .8rem;
        }
        .image{
            display: none;
        }
    }
    @include for-normal-layout{
      
 
    }
    @include for-wide-layout{
        
    }
  
}

.wap-header-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Monsterrat;
    font-size: 0.5rem;
    height: 90px;
    background-color: #fad225;
    padding-inline: 40px;

    .wap-container {
        display: flex;
        color: #3a3936;
        
        & > * {
            height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-inline: 20px;
            
        }
        & > *:hover {
            color: #f57ad0;
            transition: 0.4s;
            box-shadow: inset 0 -5px #f57ad0;
            background-color: #fadf25;
        }
    }
    .logo {
        font-family: Shrikhand;
        font-weight: 200;
        font-size: 1.3rem;
        letter-spacing: 7px;
        color: #f57ad0;
    }

    .image {
        display: inline-block;
    }
    .logo-img {
        display: inline-block;
    }

    @include for-mobile-layout{
        .wap-container {
            display: none;
        }
    }
   
    @include for-narrow-layout{
        
    }
    @include for-mid-layout{
        .wap-container {
            display: flex;
        }

        .logo {
            font-size: 1.5rem;
        }

        .image {
            display: none;
        }
    }
}