.wap-hero-1 {
    background-image: url(https://res.cloudinary.com/ds8xkm0ue/image/upload/v1663319227/tomas-williams-Ic_lvVv3Dz0-unsplash_1_mdvdik.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Monsterrat;
    color: white;


    >* {
        padding: 10px;
    }

    .hero-item-1 {
        font-size: 1.2rem;
        font-weight: 300;
        cursor: text;
    }

    .hero-item-2 {
        font-size: 3.4rem;
        padding: 10px;
        cursor: text;
        text-decoration: none;
        font-weight: 300;
        font-style: normal;

    }

    .hero-item-3 {
        button {
            background-color: grey;
            color: #fff;
            border-radius: 0.4rem;
            border: none;
            cursor: pointer;
            font-weight: 300;
            color: rgb(221, 217, 217);
            font-weight: 500;
            padding: 20px 30px;

            &.clicked:hover {
                outline: 3px dashed #6161c5;
            }
        }

        a {
            color: #fff;
        }

        // [contenteditable]:focus {
        //     outline: 3px dashed #6161c5;
        // }
    }

    @include for-mobile-layout {
        .hero-item-2 {
            font-size: 2rem;
        }

        .hero-item-3 {
            padding: .8rem 1.2rem;

        }
    }

    @include for-narrow-layout {
        .hero-item-3 {
            padding: 1.2rem 2.004rem;
        }
    }

    @include for-mid-layout {
        .hero-item-2 {
            font-size: 2.5rem;
        }
    }
}

.wap-hero-2-1 {
    display: flex;
    position: relative;
    font-family: Monsterrat;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;

    background: linear-gradient(to top right,
            #fad255 50%,
            #aae6f0 0 100%);
    // padding-inline: auto;

    section.wap-hero-dec-1 {
        display: none;


    }

    section.wap-hero-dec-2 {
        display: none;

    }

    section.wap-hero-dec-3 {
        display: none;

    }


    &:first-child {
        width: 100%;
    }


    .hero-item-1 {
        // margin-inline-start: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        gap: 60px;
        padding: 0 90px 0 90px;
        margin-top: 60px;
        margin-bottom: 60px;
        // padding: 50px;
    }

    .hero-2-image {
        margin-top: 40px;
        width: 100%;
        // margin: 20px;
    }

    .title {
        font-size: 1.2rem;
        padding: 0;
        font-weight: bold;
        padding-top: 50px;
        // font-family: Monsterrat;
    }

    .paragraph {
        font-size: 1.3rem;
        width: 100%;
        line-height: 2rem;
        padding: 0;
        padding-bottom: 80px;
    }

    @include for-mobile-layout {}

    @include for-narrow-layout {}

    @include for-mid-layout {
        padding-block-end: 350px;

        section.wap-hero-dec-1 {
            display: block;
            position: absolute;
            top: 60%;


        }

        section.wap-hero-dec-2 {
            display: block;
            position: absolute;
            width: 100px;
            top: 0;
            right: 39%;
        }

        section.wap-hero-dec-3 {
            display: block;
            position: absolute;
            left: 16%;
            top: 35%;
        }

        flex-direction: row;
        align-items: flex-start;

        section {
            width: 100%;
            max-width: 550px;
        }

        .hero-2-image {
            margin-top: 40px;
            width: 70%;
            // margin: 20px;
        }

    }
}

.wap-hero-2-2 {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Monsterrat;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 100px;

    section.wap-hero-dec-4 {
        display: none;


    }

  

    & section:last-child {
        width: 100%;
        display: inline-flex;
    }



    background: linear-gradient(to top right,
        #fbcaec 50%,
        #fad255 0 100%);




    .video {
        height: 100%;
        width: 100%;
        margin-bottom: 220px;
        align-items: center;
        justify-content: center;

        .video-container {
            position: relative;
            width: 100%;
            height: 100%;

            // padding: 56.25%;
            .video-player {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
        }
    }

    .hero-item-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        // gap: 50px;
        height: 100%;
        // padding: 10px;
        padding: 31px 80px 31px 80px;
        color: black;
        margin-bottom: 80px;
        width: 100%;

    }

    .title {
        font-size: 1.2rem;
        font-size: 1.3rem;
        // font-family: Monsterrat;
        font-weight: bold;
    }


    .paragraph {
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 2rem;
        padding: 0;
        // font-family: Monsterrat;
    }

    .sweetpies-btn {
        align-items: center;
        justify-content: center;

        button {

            // font-family: Monsterrat;
            background-color: #fbcaec;
            width: fit-content;
            // margin-bottom: 20px;
            margin-top: 20px;
            padding: 10px 20px;
            border: none;


            &:hover {
                background-color: #FADF55;
                transition: 0.6s;
                cursor: pointer;
            }
        }


        a {
            color: #4d4d4d;
            font-weight: bold;

        }

    }

    @include for-mobile-layout {
        section {
            text-align: center;

        }
    }

    @include for-narrow-layout {

        .hero-item-1 {
            // padding: 50px;
            gap: 20px;

            .paragraph {
                font-size: 0.8rem;
            }
        }

    }

    @include for-mid-layout {
        padding: 70px 0px;
        justify-content: center;
        flex-direction: row;

        .hero-item-1 {
            width: 30%;
            margin-bottom: 0;
        }

        &>* {
            margin: auto;
        }

        .video {
            // height: 100%;
            // width: 100%;
            align-items: center;
            justify-content: center;

            .video-container {
                position: relative;
                width: 100%;
                height: 100%;

                // padding: 56.25%;
                .video-player {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                }
            }
        }

        section {
            display: flex;
            // width: 50%;
            width: 100%;
            // justify-content: flex-end;

            img {
                margin-inline-start: auto;
            }
        }


        .hero-item-1 {
            gap: 20px;
            font-size: 1rem;
            // margin-top: 50px;
            max-height: 100%;

            .title {
                font-size: 1.3rem;
                padding-top: 20px;
            }

            .paragraph {
                font-size: 1.2rem;
            }

            button {
                font-size: 1.1rem;

            }
        }

    }

    @include for-normal-layout {
        section.wap-hero-dec-4 {
            display: block;
            position: absolute;
            top: 50%;
            right: -390px;



        }

        justify-content: flex-end;
        padding-inline-start: auto;


        .video {
            margin-bottom: 250px;
            width: 75%;
            // width:100%;
            // margin-top: 50px;
        }

        .paragraph {
            word-break: none;
        }

       

        .hero-item-1 {
            width: 28%;
            padding-bottom: 20px;
            padding-top: 11px;
            margin-bottom: 30px;
            height: 100%;
            // font-size: 1rem;
            // gap: 50px;

            .paragraph {
                font-size: 1rem;
            }
        }

    }


}

.wap-hero-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../../img/hero3/4c82981e961041ae9b1a50b5895e47ae.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 6px;

    .hero-text-container {
        min-width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 200px;

        color: #fff;

        &>* {
            text-transform: uppercase;
        }

        .title1 {
            font-size: 4em;
            padding-inline: 20px;

            &::after,
            &::before {
                content: '-';
                padding-inline: 20px;
            }
        }

        .title2 {
            font-size: 6em;
        }
    }

    @include for-mobile-layout {}

    @include for-narrow-layout {
        background-attachment: fixed;
        font-size: 10px;

        .title1 {
            font-size: 4em;
            padding-inline: 20px;

            &::after,
            &::before {
                content: '-';
                padding-inline: 20px;
            }
        }

        .hero-text-container {
            padding-bottom: 500px;
        }

        .title2 {
            font-size: 6em;
        }
    }

    @include for-mid-layout {
        background-attachment: fixed;
        font-size: 16px;

        .title1 {
            font-size: 4em;
            padding-inline: 20px;

            &::after,
            &::before {
                content: '-';
                padding-inline: 20px;
            }
        }

        .title2 {
            font-size: 6em;
        }
    }
}

.wap-hero-4 {
    background-image: url('../../../img/hero-4/hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    // background-position: 50% 90%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins-bold;
    color: #fff;

    .hero-container4 {
        margin-block: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 400px;
        gap: 60px;

        .hero-title {
            font-size: 50px;
        }

        button {
            background: none;
            color: white;
            padding: 20px 40px;
            border: 2px solid #d8ac84;

            &:hover {
                background-color: #d8ac84;
                transition: 0.3s;
                cursor: pointer;
            }
        }
    }

    @include for-mobile-layout {}

    @include for-narrow-layout {}

    @include for-mid-layout {
        .hero-container4 {
            width: 600px;

            .hero-title {
                font-size: 72px;
            }
        }

    }
}

.wap-hero-5 {
    background-image: url('../../../img/hero-5/hero-5-bg.png');
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    padding-block: 60px;
    padding-block-end: 100px;
    font-family: Poppins;

    img {
        width: 100%;
    }

    .hero-grid {
        display: flex;
        flex-direction: column;
        color: #fff;
        width: 90%;
        margin: 0 auto;

        &>section {
            width: 95%;
        }


        .hero-title {
            display: flex;
            height: 100%;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: center;

            &>* {
                margin-bottom: 30px;
            }

            .title {
                font-family: Reklame;
                font-size: 4em;
                width: fit-content;
                margin: 0 auto;
            }

            .subtitle {
                font-size: 1.5em;
            }

            .paragraph {
                font-size: 1.2em;
            }

            .hero-dl-btns {
                display: flex;
            }
        }
    }

    section.bottom-image {
        width: 100%;
        max-height: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
    }


    @include for-mobile-layout {}

    @include for-narrow-layout {
        .hero-grid {
            flex-direction: row;
            width: 90%;

            &>section:first-child {
                width: 65%;
                margin-inline-end: 50px;
            }

            &>section:last-child {
                width: 35%;
            }
        }

    }

    @include for-mid-layout {
        .hero-grid {
            width: 70%;
        }
    }

    @include for-normal-layout {
        padding-block: 100px;
        padding-block-end: 250px;

        .hero-grid {
            width: 55%;

            .hero-title {
                text-align: left;

                &>* {
                    margin-bottom: 0;
                }
            }
        }

        section.bottom-image {
            max-height: 90;
        }

    }
}