

@mixin focus {
    outline: 3px dotted #6161c5;
}


@mixin for-tiny-layout {
    @media (max-width:350px) {
        @content;
    }

}
@mixin for-mobile-layout {
    @media (min-width:350px) {
        @content;
    }

}


@mixin for-narrow-layout {
    @media (min-width:785px) {
        @content;
    }

}

@mixin for-mid-layout {
    @media (min-width:950px) {
        @content;
    }
}

@mixin homepage-header-layout {
    @media (min-width:1300px) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width:1200px) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width:1500px) {
        @content;
    }

}