@font-face {
    font-family: Bahnschrift;
    src: url(../../../assets/fonts/Bahnschrift/bahnschrift.ttf)
}

@font-face {
    font-family: Monsterrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Bebas-Neue;
    src: url(../../../assets/fonts/Bebas-Neue/bebasneue-regular.ttf)
}

@font-face {
    font-family: Lato;
    src: url(../../../assets/fonts/Lato/Lato-Bold.ttf)
}

@font-face {
    font-family: GreatVibes;
    src: url(../../../assets/fonts/GreatVibes/GreatVibes-Regular.ttf)
}

@font-face {
    font-family: OpenSans;
    src: url(../../../assets/fonts/OpenSans/OpenSans-Bold.ttf)
}

@font-face {
    font-family: Orbitron;
    src: url(../../../assets/fonts/Orbitron/Orbitron-Bold.ttf)
}

@font-face {
    font-family: Monsterrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Madefor;
    src: url(../../fonts/Madefor/WixMadeforDisplayRegular.otf);
}