@font-face {
    font-family: Bahnschrift;
    src: url(../../../assets/fonts/Bahnschrift/bahnschrift.ttf)
}
@font-face {
    font-family: Berk;
    src: url(../../../assets/fonts/BerkshireSwash/BerkshireSwash-Regular.ttf);
}
@font-face {
    font-family: Noll;
    src: url(../../../assets/fonts/Nolluqapersonaluse/NolluqapersonaluseRegular-VGMge.otf);
}

@font-face {
    font-family: Monsterrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Bebas-Neue;
    src: url(../../../assets/fonts/Bebas-Neue/bebasneue-regular.ttf)
}

@font-face {
    font-family: Lato;
    src: url(../../../assets/fonts/Lato/Lato-Bold.ttf)
}

@font-face {
    font-family: GreatVibes;
    src: url(../../../assets/fonts/GreatVibes/GreatVibes-Regular.ttf)
}

@font-face {
    font-family: OpenSans;
    src: url(../../../assets/fonts/OpenSans/OpenSans-Bold.ttf)
}

@font-face {
    font-family: Orbitron;
    src: url(../../../assets/fonts/Orbitron/Orbitron-Bold.ttf)
}

@font-face {
    font-family: Monsterrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Monsterrat-thin;
    src: url(../../fonts/Montserrat/Montserrat-Thin.ttf);
}

@font-face {
    font-family: Madefor;
    src: url(../../fonts/Madefor/WixMadeforDisplayRegular.otf);
}


@font-face {
    font-family: Shrikhand;
    src: url(../../fonts/Shrikhand/Shrikhand-Regular.ttf);
}


@font-face {
    font-family: SignPainter;
    src: url(../../fonts/SignPainter/SignPainter.ttf);
}


@font-face {
    font-family: Poppins;
    src: url(../../fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(../../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Reklame;
    src: url(../../fonts/reklame/ReklameScript-Regular_DEMO.otf);
}

@font-face {
    font-family: Satisfy-Regular;
    src: url(../../fonts/Satisfy/Satisfy-Regular.ttf);
}

@font-face {
    font-family: LobsterTwo;
    src: url(../../fonts/Lobster-Two/LobsterTwo-Regular.ttf);
}

@font-face {
    font-family: IndieFlower;
    src: url(../../fonts/Indie-Flower/IndieFlower-Regular.ttf);
}